
.item-container{
    width: auto;
    height: 400px;
    margin: 0 15%;
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;

    .img-itemContainer{
        width: auto;
        height: auto;
        
        .img-item{
            width: 350px    ;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .contenido{
        width: auto;
        height: 100%;
        margin-left: 40px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .precio{
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            color: #688B58;
        }
        .stock{
            color: grey;
        }
    }
}