.itemListContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 15%;

  hr{
    width: 100%;
  }

  h3 {
    margin: 0;
  }
}