
.item-count{
    width: auto;
    height: auto;
    padding: 15px 20px;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    .counter{
        width: 200px;
        height: auto;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span{
            width: 11px;
            font-size: 16px;
        }
        .btn-counter{
            width: 40px;
            height: 40px;
            align-self: center;
            color: #fff;
            background-color: #3483fa;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            
        }
    }
    .btn-agregar{
        width: 200px;
        height: 40px;
        background-color: #3483fa;
        color: #eee;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    .agregado{
        width: 200px;
        height: 40px;
        background-color: #3483fa;
        color: #eee;
        border: none;        
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
}
