header {
    width: auto;
    height: 90px;
    margin-bottom: 25px;
    //background-color: #282c34;
    background-color: #403d39;
    color: #fff;
    padding: 0 15%;
    display: flex;
    align-content: center;
}